-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: new_stocks_db
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `app_ta_settings`
--

DROP TABLE IF EXISTS `app_ta_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_ta_settings` (
  `id` tinyint unsigned NOT NULL DEFAULT '1',
  `sma_window` smallint unsigned NOT NULL DEFAULT '200',
  `macd_fast` smallint unsigned NOT NULL DEFAULT '12',
  `macd_slow` smallint unsigned NOT NULL DEFAULT '26',
  `macd_signal` smallint unsigned NOT NULL DEFAULT '9',
  `stoch_k` smallint unsigned NOT NULL DEFAULT '14',
  `stoch_k_smooth` smallint unsigned NOT NULL DEFAULT '3',
  `stoch_d_smooth` smallint unsigned NOT NULL DEFAULT '3',
  `rsi_period` smallint unsigned NOT NULL DEFAULT '14',
  `buy_stoch_threshold` decimal(5,2) NOT NULL DEFAULT '20.00',
  `sell_stoch_threshold` decimal(5,2) NOT NULL DEFAULT '80.00',
  `macd_lookahead_days` tinyint unsigned NOT NULL DEFAULT '5',
  `rsi_a_plus_buy` decimal(5,2) NOT NULL DEFAULT '30.00',
  `rsi_a_buy` decimal(5,2) NOT NULL DEFAULT '40.00',
  `rsi_b_buy` decimal(5,2) NOT NULL DEFAULT '50.00',
  `rsi_a_plus_sell` decimal(5,2) NOT NULL DEFAULT '70.00',
  `rsi_a_sell` decimal(5,2) NOT NULL DEFAULT '60.00',
  `rsi_b_sell` decimal(5,2) NOT NULL DEFAULT '50.00',
  `chart_window_days_before` smallint unsigned NOT NULL DEFAULT '365',
  `chart_window_days_after` smallint unsigned NOT NULL DEFAULT '365',
  `exit_mode` enum('window_end','next_sell_signal') NOT NULL DEFAULT 'window_end',
  `buy_entry_window_days` smallint unsigned NOT NULL DEFAULT '90',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_ta_settings`
--

LOCK TABLES `app_ta_settings` WRITE;
/*!40000 ALTER TABLE `app_ta_settings` DISABLE KEYS */;
INSERT INTO `app_ta_settings` VALUES (1,200,12,26,9,14,3,3,14,20.00,80.00,5,30.00,40.00,50.00,70.00,60.00,50.00,365,365,'window_end',90,'2026-05-30 23:30:15');
/*!40000 ALTER TABLE `app_ta_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_price_runs`
--

DROP TABLE IF EXISTS `dim_price_runs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_price_runs` (
  `run_id` int unsigned NOT NULL AUTO_INCREMENT,
  `ticker` varchar(20) NOT NULL,
  `source` enum('yfinance','manual_investingcom','manual_csv') NOT NULL,
  `requested_from` date NOT NULL,
  `requested_to` date NOT NULL,
  `rows_inserted` int unsigned DEFAULT '0',
  `rows_updated` int unsigned DEFAULT '0',
  `status` enum('running','ok','partial','failed','no_data') NOT NULL,
  `error_message` text,
  `triggered_by` enum('coverage_build','single_ticker','manual_upload','watchlist_refresh','scheduled') NOT NULL,
  `started_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `finished_at` datetime DEFAULT NULL,
  PRIMARY KEY (`run_id`),
  KEY `idx_ticker_started` (`ticker`,`started_at`),
  KEY `idx_status` (`status`,`started_at`)
) ENGINE=InnoDB AUTO_INCREMENT=192 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_price_runs`
--

LOCK TABLES `dim_price_runs` WRITE;
/*!40000 ALTER TABLE `dim_price_runs` DISABLE KEYS */;
/*!40000 ALTER TABLE `dim_price_runs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-09 23:18:08
